body{
    width: 1900px;
    height: 600px;
}

.carrossel {
    width: 1900px; 
    height: 600px;
    margin: auto; 
    overflow: hidden; 
    position: relative;
}

.slides {
    display: flex; 
    width: 5700px; 
    transition: transform 0.3s ease; 
}

.slides img {
    width: 1900px; 
    height: 600px;
}

.slides.pos1 { transform: translateX(0); }
.slides.pos2 { transform: translateX(-1900px); }
.slides.pos3 { transform: translateX(-3800px); }

button {
    position: absolute;
    top: 420px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(87, 83, 83), rgb(196, 25, 25));
    color: white;
}

.Find:hover {
    background: linear-gradient(rgb(80, 80, 80), rgb(8, 8, 8))
}

h1 {
    font-size: 56px;
    color: white;
    padding: 10px;
    position: absolute;
    top: 65px;
}

p {
    font-size: 30px;
    color: white;
    position: absolute;
    padding: 10px;
    top: 150px;
}

header {
    width: 1900px;
    height: 50px;
    background-color: #333;
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
    z-index: 10;
}

nav {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.live-button {
    position: static;
    padding: 5px 10px;
    font-size: 14px;
    background: none; 
    border: none; 
    color: white;
    cursor: pointer;
    margin-left: -15px;
}

.live-button span {
    background-color: black;
    padding: 2px 8px; 
    border-radius: 3px; 
    margin-left: 5px; 
}

.live-button span:hover {
    background-color: #c43f3f; 
}

.menu{
    color: white;
    align-items: left;
    width: 30px;
    height: 30px;
    left: 15px;
    position: absolute;
    z-index: -1;
    
}

.texto1{
    font-size: 56px;
    color: black;
    padding: 10px;
    position: absolute;
    top: 600px; 
}

.texto1{
    font-size: 56px;
    color: black;
    padding: 10px;
    position: absolute;
    top: 600px; 
}

.texto2{
    font-size: 26px;
    color: black;
    padding: 10px;
    position: absolute;
    top: 750px;
    /* z-index: -1;  */
}

.astronauta{
    position: absolute;
    padding: 10px;
    top: 810px;
    width: 800px;
    height: 400px;
}

.conference{
    position: absolute;
    padding: 10px;
    top: 810px;
    width: 300px;
    height: 400px;
    left: 825px;
}